# Dependencies
node_modules/

# Cypress screenshots and videos
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Cypress reports
cypress/reports/


# Environment variables and secrets
.env
*.env

# Operating system files
.DS_Store
Thumbs.db
